/* All Common Css Start  */
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.container{
    width: 1210px;
    margin: 0 auto     ;
}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
    line-height: 0.8px;
}
/* All Common Css End  */

/* Header Part Start  */
#headerPart{
    background-color: #F9F9FC;
}
.header{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.menu ul{
    display: flex;
}
.menu ul a{
    padding: 0px 25px;
    line-height: 70px;
    color: black;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
     text-align: center;
    align-items: center;
}
.btn a{
    padding: 10px 20px;
    background: #5E3BEE;
    border-radius: 50px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
}
.btn a i{
    margin-left: 10px;
}
/* Header Part End  */

/* Banner Part Start  */
#bannerPart{
    background-color: #F9F9FC;
}
.bannerFlex{
    display: flex;
    justify-content: space-between;
}
.bannerLeft{
    width: 50%;
}
.bannerLeft h4{
    font-size: 16px;
    font-weight: 500;
    color: #5E3BEE;
    text-transform: uppercase;
    padding-top: 115px;
    padding-bottom: 50px;
}
.bannerLeft h1{
    font-size: 60px;
    font-weight: 700;
    color: black;
    width: 480px;
    line-height: 78px;
}
.button{
    padding-bottom: 140px;
    padding-top: 60px;
}
.button a i{
    margin-right: 10px;
}
.button a {
    font-size: 14px;
    font-weight: 500;
    color: white;
    padding: 25px;
    background: #5E3BEE;
    border-radius: 50px;
    align-items: center;
    text-align: center;
    transition: .4s;
    
}
.button a:hover{
    background: #F9F9FC;
    color: black;
}
.bannerRight{
    width: 50%;
}
.bannerRight img{
    width: 100%;
}
/* Banner Part End  */

/* Counter Part Start  */
#counterPart{
    padding: 90px 0px;
}
.counterFlex{
    display: flex;
    justify-content: space-between;
}
.counterItems{
    width: 23%;
    padding: 25PX;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 37px 37px 80px 0px rgba(0, 0, 0, 0.1);
}
.counterItems h3{
    font-size: 48px;
    font-weight: 600;
    color: black;
    padding-bottom: 35px;

}
.counterItems h4{
     /* line-height: 24px; */
    font-size: 16px;
    font-weight: 500;
    color: rgba(18, 18, 18, 0.7);
}
/* Counter Part End  */